:root {
    --primary-color: #ff3300;
    --background-dark: #000000bb;
    --text-light: #ffffff;
    --text-gray: #c9c9c9;
    --border-color: #2c2c2c;
    --hover-bg: #292929;

    --mobile-breakpoint: 480px;
  --tablet-breakpoint: 768px;
  --laptop-breakpoint: 1024px;
  --desktop-breakpoint: 1200px;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
  }
  
  body {
    font-family: 'Poppins', sans-serif;
    background: radial-gradient(var(--background-dark), rgba(0, 0, 0, 0.979));
    color: var(--text-light);
    min-height: 100vh;
  }
  
  a {
    text-decoration: none;
    color: var(--text-light);
  }
  
  img {
    max-width: 100%;
    height: auto;
  }

  @media (max-width: var(--mobile-breakpoint)) {
    .container {
      padding: 0.5rem;
    }
    
    .grid {
      grid-template-columns: 1fr;
    }
  }
  
  @media (min-width: var(--tablet-breakpoint)) {
    .container {
      max-width: 90%;
    }
  }